
.stars-custom {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #FFFFF0, 324px 42px #FFFFF0, 303px 586px #FFFFF0,
    1312px 276px #FFFFF0, 451px 625px #FFFFF0, 521px 1931px #FFFFF0, 1087px 1871px #FFFFF0,
    36px 1546px #FFFFF0, 132px 934px #FFFFF0, 1698px 901px #FFFFF0, 1418px 664px #FFFFF0,
    1448px 1157px #FFFFF0, 1084px 232px #FFFFF0, 347px 1776px #FFFFF0, 1722px 243px #FFFFF0,
    1629px 835px #FFFFF0, 479px 969px #FFFFF0, 1231px 960px #FFFFF0, 586px 384px #FFFFF0,
    164px 527px #FFFFF0, 8px 646px #FFFFF0, 1150px 1126px #FFFFF0, 665px 1357px #FFFFF0,
    1556px 1982px #FFFFF0, 1260px 1961px #FFFFF0, 1675px 1741px #FFFFF0,
    1843px 1514px #FFFFF0, 718px 1628px #FFFFF0, 242px 1343px #FFFFF0, 1497px 1880px #FFFFF0,
    1364px 230px #FFFFF0, 1739px 1302px #FFFFF0, 636px 959px #FFFFF0, 304px 686px #FFFFF0,
    614px 751px #FFFFF0, 1935px 816px #FFFFF0, 1428px 60px #FFFFF0, 355px 335px #FFFFF0,
    1594px 158px #FFFFF0, 90px 60px #FFFFF0, 1553px 162px #FFFFF0, 1239px 1825px #FFFFF0,
    1945px 587px #FFFFF0, 749px 1785px #FFFFF0, 1987px 1172px #FFFFF0, 1301px 1237px #FFFFF0,
    1039px 342px #FFFFF0, 1585px 1481px #FFFFF0, 995px 1048px #FFFFF0, 524px 932px #FFFFF0,
    214px 413px #FFFFF0, 1701px 1300px #FFFFF0, 1037px 1613px #FFFFF0, 1871px 996px #FFFFF0,
    1360px 1635px #FFFFF0, 1110px 1313px #FFFFF0, 412px 1783px #FFFFF0, 1949px 177px #FFFFF0,
    903px 1854px #FFFFF0, 700px 1936px #FFFFF0, 378px 125px #FFFFF0, 308px 834px #FFFFF0,
    1118px 962px #FFFFF0, 1350px 1929px #FFFFF0, 781px 1811px #FFFFF0, 561px 137px #FFFFF0,
    757px 1148px #FFFFF0, 1670px 1979px #FFFFF0, 343px 739px #FFFFF0, 945px 795px #FFFFF0,
    576px 1903px #FFFFF0, 1078px 1436px #FFFFF0, 1583px 450px #FFFFF0, 1366px 474px #FFFFF0,
    297px 1873px #FFFFF0, 192px 162px #FFFFF0, 1624px 1633px #FFFFF0, 59px 453px #FFFFF0,
    82px 1872px #FFFFF0, 1933px 498px #FFFFF0, 1966px 1974px #FFFFF0, 1975px 1688px #FFFFF0,
    779px 314px #FFFFF0, 1858px 1543px #FFFFF0, 73px 1507px #FFFFF0, 1693px 975px #FFFFF0,
    1683px 108px #FFFFF0, 1768px 1654px #FFFFF0, 654px 14px #FFFFF0, 494px 171px #FFFFF0,
    1689px 1895px #FFFFF0, 1660px 263px #FFFFF0, 1031px 903px #FFFFF0, 1203px 1393px #FFFFF0,
    1333px 1421px #FFFFF0, 1113px 41px #FFFFF0, 1206px 1645px #FFFFF0, 1325px 1635px #FFFFF0,
    142px 388px #FFFFF0, 572px 215px #FFFFF0, 1535px 296px #FFFFF0, 1419px 407px #FFFFF0,
    1379px 1003px #FFFFF0, 329px 469px #FFFFF0, 1791px 1652px #FFFFF0, 935px 1802px #FFFFF0,
    1330px 1820px #FFFFF0, 421px 1933px #FFFFF0, 828px 365px #FFFFF0, 275px 316px #FFFFF0,
    707px 960px #FFFFF0, 1605px 1554px #FFFFF0, 625px 58px #FFFFF0, 717px 1697px #FFFFF0,
    1669px 246px #FFFFF0, 1925px 322px #FFFFF0, 1154px 1803px #FFFFF0, 1929px 295px #FFFFF0,
    1248px 240px #FFFFF0, 1045px 1755px #FFFFF0, 166px 942px #FFFFF0, 1888px 1773px #FFFFF0,
    678px 1963px #FFFFF0, 1370px 569px #FFFFF0, 1974px 1400px #FFFFF0, 1786px 460px #FFFFF0,
    51px 307px #FFFFF0, 784px 1400px #FFFFF0, 730px 1258px #FFFFF0, 1712px 393px #FFFFF0,
    416px 170px #FFFFF0, 1797px 1932px #FFFFF0, 572px 219px #FFFFF0, 1557px 1856px #FFFFF0,
    218px 8px #FFFFF0, 348px 1334px #FFFFF0, 469px 413px #FFFFF0, 385px 1738px #FFFFF0,
    1357px 1818px #FFFFF0, 240px 942px #FFFFF0, 248px 1847px #FFFFF0, 1535px 806px #FFFFF0,
    236px 1514px #FFFFF0, 1429px 1556px #FFFFF0, 73px 1633px #FFFFF0, 1398px 1121px #FFFFF0,
    671px 1301px #FFFFF0, 1404px 1663px #FFFFF0, 740px 1018px #FFFFF0, 1600px 377px #FFFFF0,
    785px 514px #FFFFF0, 112px 1084px #FFFFF0, 1915px 1887px #FFFFF0, 1463px 1848px #FFFFF0,
    687px 1115px #FFFFF0, 1268px 1768px #FFFFF0, 1729px 1425px #FFFFF0,
    1284px 1022px #FFFFF0, 801px 974px #FFFFF0, 1975px 1317px #FFFFF0, 1354px 834px #FFFFF0,
    1446px 1484px #FFFFF0, 1283px 1786px #FFFFF0, 11px 523px #FFFFF0, 1842px 236px #FFFFF0,
    1355px 654px #FFFFF0, 429px 7px #FFFFF0, 1033px 1128px #FFFFF0, 157px 297px #FFFFF0,
    545px 635px #FFFFF0, 52px 1080px #FFFFF0, 827px 1520px #FFFFF0, 1121px 490px #FFFFF0,
    9px 309px #FFFFF0, 1744px 1586px #FFFFF0, 1014px 417px #FFFFF0, 1534px 524px #FFFFF0,
    958px 552px #FFFFF0, 1403px 1496px #FFFFF0, 387px 703px #FFFFF0, 1522px 548px #FFFFF0,
    1355px 282px #FFFFF0, 1532px 601px #FFFFF0, 1838px 790px #FFFFF0, 290px 259px #FFFFF0,
    295px 598px #FFFFF0, 1601px 539px #FFFFF0, 1561px 1272px #FFFFF0, 34px 1922px #FFFFF0,
    1024px 543px #FFFFF0, 467px 369px #FFFFF0, 722px 333px #FFFFF0, 1976px 1255px #FFFFF0,
    766px 983px #FFFFF0, 1582px 1285px #FFFFF0, 12px 512px #FFFFF0, 617px 1410px #FFFFF0,
    682px 577px #FFFFF0, 1334px 1438px #FFFFF0, 439px 327px #FFFFF0, 1617px 1661px #FFFFF0,
    673px 129px #FFFFF0, 794px 941px #FFFFF0, 1386px 1902px #FFFFF0, 37px 1353px #FFFFF0,
    1467px 1353px #FFFFF0, 416px 18px #FFFFF0, 187px 344px #FFFFF0, 200px 1898px #FFFFF0,
    1491px 1619px #FFFFF0, 811px 347px #FFFFF0, 924px 1827px #FFFFF0, 945px 217px #FFFFF0,
    1735px 1228px #FFFFF0, 379px 1890px #FFFFF0, 79px 761px #FFFFF0, 825px 1837px #FFFFF0,
    1980px 1558px #FFFFF0, 1308px 1573px #FFFFF0, 1488px 1726px #FFFFF0,
    382px 1208px #FFFFF0, 522px 595px #FFFFF0, 1277px 1898px #FFFFF0, 354px 552px #FFFFF0,
    161px 1784px #FFFFF0, 614px 251px #FFFFF0, 526px 1576px #FFFFF0, 17px 212px #FFFFF0,
    179px 996px #FFFFF0, 467px 1208px #FFFFF0, 1944px 1838px #FFFFF0, 1140px 1093px #FFFFF0,
    858px 1007px #FFFFF0, 200px 1064px #FFFFF0, 423px 1964px #FFFFF0, 1945px 439px #FFFFF0,
    1377px 689px #FFFFF0, 1120px 1437px #FFFFF0, 1876px 668px #FFFFF0, 907px 1324px #FFFFF0,
    343px 1976px #FFFFF0, 1816px 1501px #FFFFF0, 1849px 177px #FFFFF0, 647px 91px #FFFFF0,
    1984px 1012px #FFFFF0, 1336px 1300px #FFFFF0, 128px 648px #FFFFF0, 305px 1060px #FFFFF0,
    1324px 826px #FFFFF0, 1263px 1314px #FFFFF0, 1801px 629px #FFFFF0, 1614px 1555px #FFFFF0,
    1634px 90px #FFFFF0, 1603px 452px #FFFFF0, 891px 1984px #FFFFF0, 1556px 1906px #FFFFF0,
    121px 68px #FFFFF0, 1676px 1714px #FFFFF0, 516px 936px #FFFFF0, 1947px 1492px #FFFFF0,
    1455px 1519px #FFFFF0, 45px 602px #FFFFF0, 205px 1039px #FFFFF0, 793px 172px #FFFFF0,
    1562px 1739px #FFFFF0, 1056px 110px #FFFFF0, 1512px 379px #FFFFF0, 1795px 1621px #FFFFF0,
    1848px 607px #FFFFF0, 262px 1719px #FFFFF0, 477px 991px #FFFFF0, 483px 883px #FFFFF0,
    1239px 1197px #FFFFF0, 1496px 647px #FFFFF0, 1649px 25px #FFFFF0, 1491px 1946px #FFFFF0,
    119px 996px #FFFFF0, 179px 1472px #FFFFF0, 1341px 808px #FFFFF0, 1565px 1700px #FFFFF0,
    407px 1544px #FFFFF0, 1754px 357px #FFFFF0, 1288px 981px #FFFFF0, 902px 1997px #FFFFF0,
    1755px 1668px #FFFFF0, 186px 877px #FFFFF0, 1202px 1882px #FFFFF0, 461px 1213px #FFFFF0,
    1400px 748px #FFFFF0, 1969px 1899px #FFFFF0, 809px 522px #FFFFF0, 514px 1219px #FFFFF0,
    374px 275px #FFFFF0, 938px 1973px #FFFFF0, 357px 552px #FFFFF0, 144px 1722px #FFFFF0,
    1572px 912px #FFFFF0, 402px 1858px #FFFFF0, 1544px 1195px #FFFFF0, 667px 1257px #FFFFF0,
    727px 1496px #FFFFF0, 993px 232px #FFFFF0, 1772px 313px #FFFFF0, 1040px 1590px #FFFFF0,
    1204px 1973px #FFFFF0, 1268px 79px #FFFFF0, 1555px 1048px #FFFFF0, 986px 1707px #FFFFF0,
    978px 1710px #FFFFF0, 713px 360px #FFFFF0, 407px 863px #FFFFF0, 461px 736px #FFFFF0,
    284px 1608px #FFFFF0, 103px 430px #FFFFF0, 1283px 1319px #FFFFF0, 977px 1186px #FFFFF0,
    1966px 1516px #FFFFF0, 1287px 1129px #FFFFF0, 70px 1098px #FFFFF0, 1189px 889px #FFFFF0,
    1126px 1734px #FFFFF0, 309px 1292px #FFFFF0, 879px 764px #FFFFF0, 65px 473px #FFFFF0,
    1003px 1959px #FFFFF0, 658px 791px #FFFFF0, 402px 1576px #FFFFF0, 35px 622px #FFFFF0,
    529px 1589px #FFFFF0, 164px 666px #FFFFF0, 1876px 1290px #FFFFF0, 1541px 526px #FFFFF0,
    270px 1297px #FFFFF0, 440px 865px #FFFFF0, 1500px 802px #FFFFF0, 182px 1754px #FFFFF0,
    1264px 892px #FFFFF0, 272px 1249px #FFFFF0, 1289px 1535px #FFFFF0, 190px 1646px #FFFFF0,
    955px 242px #FFFFF0, 1456px 1597px #FFFFF0, 1727px 1983px #FFFFF0, 635px 801px #FFFFF0,
    226px 455px #FFFFF0, 1396px 1710px #FFFFF0, 849px 1863px #FFFFF0, 237px 1264px #FFFFF0,
    839px 140px #FFFFF0, 1122px 735px #FFFFF0, 1280px 15px #FFFFF0, 1318px 242px #FFFFF0,
    1819px 1148px #FFFFF0, 333px 1392px #FFFFF0, 1949px 553px #FFFFF0, 1878px 1332px #FFFFF0,
    467px 548px #FFFFF0, 1812px 1082px #FFFFF0, 1067px 193px #FFFFF0, 243px 156px #FFFFF0,
    483px 1616px #FFFFF0, 1714px 933px #FFFFF0, 759px 1800px #FFFFF0, 1822px 995px #FFFFF0,
    1877px 572px #FFFFF0, 581px 1084px #FFFFF0, 107px 732px #FFFFF0, 642px 1837px #FFFFF0,
    166px 1493px #FFFFF0, 1555px 198px #FFFFF0, 819px 307px #FFFFF0, 947px 345px #FFFFF0,
    827px 224px #FFFFF0, 927px 1394px #FFFFF0, 540px 467px #FFFFF0, 1093px 405px #FFFFF0,
    1140px 927px #FFFFF0, 130px 529px #FFFFF0, 33px 1980px #FFFFF0, 1147px 1663px #FFFFF0,
    1616px 1436px #FFFFF0, 528px 710px #FFFFF0, 798px 1100px #FFFFF0, 505px 1480px #FFFFF0,
    899px 641px #FFFFF0, 1909px 1949px #FFFFF0, 1311px 964px #FFFFF0, 979px 1301px #FFFFF0,
    1393px 969px #FFFFF0, 1793px 1886px #FFFFF0, 292px 357px #FFFFF0, 1196px 1718px #FFFFF0,
    1290px 1994px #FFFFF0, 537px 1973px #FFFFF0, 1181px 1674px #FFFFF0,
    1740px 1566px #FFFFF0, 1307px 265px #FFFFF0, 922px 522px #FFFFF0, 1892px 472px #FFFFF0,
    384px 1746px #FFFFF0, 392px 1098px #FFFFF0, 647px 548px #FFFFF0, 390px 1498px #FFFFF0,
    1246px 138px #FFFFF0, 730px 876px #FFFFF0, 192px 1472px #FFFFF0, 1790px 1789px #FFFFF0,
    928px 311px #FFFFF0, 1253px 1647px #FFFFF0, 747px 1921px #FFFFF0, 1561px 1025px #FFFFF0,
    1533px 1292px #FFFFF0, 1985px 195px #FFFFF0, 728px 729px #FFFFF0, 1712px 1936px #FFFFF0,
    512px 1717px #FFFFF0, 1528px 483px #FFFFF0, 313px 1642px #FFFFF0, 281px 1849px #FFFFF0,
    1212px 799px #FFFFF0, 435px 1191px #FFFFF0, 1422px 611px #FFFFF0, 1718px 1964px #FFFFF0,
    411px 944px #FFFFF0, 210px 636px #FFFFF0, 1502px 1295px #FFFFF0, 1434px 349px #FFFFF0,
    769px 60px #FFFFF0, 747px 1053px #FFFFF0, 789px 504px #FFFFF0, 1436px 1264px #FFFFF0,
    1893px 1225px #FFFFF0, 1394px 1788px #FFFFF0, 1108px 1317px #FFFFF0,
    1673px 1395px #FFFFF0, 854px 1010px #FFFFF0, 1705px 80px #FFFFF0, 1858px 148px #FFFFF0,
    1729px 344px #FFFFF0, 1388px 664px #FFFFF0, 895px 406px #FFFFF0, 1479px 157px #FFFFF0,
    1441px 1157px #FFFFF0, 552px 1900px #FFFFF0, 516px 364px #FFFFF0, 1647px 189px #FFFFF0,
    1427px 1071px #FFFFF0, 785px 729px #FFFFF0, 1080px 1710px #FFFFF0, 504px 204px #FFFFF0,
    1177px 1622px #FFFFF0, 657px 34px #FFFFF0, 1296px 1099px #FFFFF0, 248px 180px #FFFFF0,
    1212px 1568px #FFFFF0, 667px 1562px #FFFFF0, 695px 841px #FFFFF0, 1608px 1247px #FFFFF0,
    751px 882px #FFFFF0, 87px 167px #FFFFF0, 607px 1368px #FFFFF0, 1363px 1203px #FFFFF0,
    1836px 317px #FFFFF0, 1668px 1703px #FFFFF0, 830px 1154px #FFFFF0, 1721px 1398px #FFFFF0,
    1601px 1280px #FFFFF0, 976px 874px #FFFFF0, 1743px 254px #FFFFF0, 1020px 1815px #FFFFF0,
    1670px 1766px #FFFFF0, 1890px 735px #FFFFF0, 1379px 136px #FFFFF0, 1864px 695px #FFFFF0,
    206px 965px #FFFFF0, 1404px 1932px #FFFFF0, 1923px 1360px #FFFFF0, 247px 682px #FFFFF0,
    519px 1708px #FFFFF0, 645px 750px #FFFFF0, 1164px 1204px #FFFFF0, 834px 323px #FFFFF0,
    172px 1350px #FFFFF0, 213px 972px #FFFFF0, 1837px 190px #FFFFF0, 285px 1806px #FFFFF0,
    1047px 1299px #FFFFF0, 1548px 825px #FFFFF0, 1730px 324px #FFFFF0, 1346px 1909px #FFFFF0,
    772px 270px #FFFFF0, 345px 1190px #FFFFF0, 478px 1433px #FFFFF0, 1479px 25px #FFFFF0,
    1994px 1830px #FFFFF0, 1744px 732px #FFFFF0, 20px 1635px #FFFFF0, 690px 1795px #FFFFF0,
    1594px 569px #FFFFF0, 579px 245px #FFFFF0, 1398px 733px #FFFFF0, 408px 1352px #FFFFF0,
    1774px 120px #FFFFF0, 1152px 1370px #FFFFF0, 1698px 1810px #FFFFF0, 710px 1450px #FFFFF0,
    665px 286px #FFFFF0, 493px 1720px #FFFFF0, 786px 5px #FFFFF0, 637px 1140px #FFFFF0,
    764px 324px #FFFFF0, 927px 310px #FFFFF0, 938px 1424px #FFFFF0, 1884px 744px #FFFFF0,
    913px 462px #FFFFF0, 1831px 1936px #FFFFF0, 1527px 249px #FFFFF0, 36px 1381px #FFFFF0,
    1597px 581px #FFFFF0, 1530px 355px #FFFFF0, 949px 459px #FFFFF0, 799px 828px #FFFFF0,
    242px 1471px #FFFFF0, 654px 797px #FFFFF0, 796px 594px #FFFFF0, 1365px 678px #FFFFF0,
    752px 23px #FFFFF0, 1630px 541px #FFFFF0, 982px 72px #FFFFF0, 1733px 1831px #FFFFF0,
    21px 412px #FFFFF0, 775px 998px #FFFFF0, 335px 1945px #FFFFF0, 264px 583px #FFFFF0,
    158px 1311px #FFFFF0, 528px 164px #FFFFF0, 1978px 574px #FFFFF0, 717px 1203px #FFFFF0,
    734px 1591px #FFFFF0, 1555px 820px #FFFFF0, 16px 1943px #FFFFF0, 1625px 1177px #FFFFF0,
    1236px 690px #FFFFF0, 1585px 1590px #FFFFF0, 1737px 1728px #FFFFF0, 721px 698px #FFFFF0,
    1804px 1186px #FFFFF0, 166px 980px #FFFFF0, 1850px 230px #FFFFF0, 330px 1712px #FFFFF0,
    95px 797px #FFFFF0, 1948px 1078px #FFFFF0, 469px 939px #FFFFF0, 1269px 1899px #FFFFF0,
    955px 1220px #FFFFF0, 1137px 1075px #FFFFF0, 312px 1293px #FFFFF0, 986px 1762px #FFFFF0,
    1103px 1238px #FFFFF0, 428px 1993px #FFFFF0, 355px 570px #FFFFF0, 977px 1836px #FFFFF0,
    1395px 1092px #FFFFF0, 276px 913px #FFFFF0, 1743px 656px #FFFFF0, 773px 502px #FFFFF0,
    1686px 1322px #FFFFF0, 1516px 1945px #FFFFF0, 1334px 501px #FFFFF0, 266px 156px #FFFFF0,
    455px 655px #FFFFF0, 798px 72px #FFFFF0, 1059px 1259px #FFFFF0, 1402px 1687px #FFFFF0,
    236px 1329px #FFFFF0, 1455px 786px #FFFFF0, 146px 1228px #FFFFF0, 1851px 823px #FFFFF0,
    1062px 100px #FFFFF0, 1220px 953px #FFFFF0, 20px 1826px #FFFFF0, 36px 1063px #FFFFF0,
    1525px 338px #FFFFF0, 790px 1521px #FFFFF0, 741px 1099px #FFFFF0, 288px 1489px #FFFFF0,
    700px 1060px #FFFFF0, 390px 1071px #FFFFF0, 411px 1036px #FFFFF0, 1853px 1072px #FFFFF0,
    1446px 1085px #FFFFF0, 1164px 874px #FFFFF0, 924px 925px #FFFFF0, 291px 271px #FFFFF0,
    1257px 1964px #FFFFF0, 1580px 1352px #FFFFF0, 1507px 1216px #FFFFF0, 211px 956px #FFFFF0,
    985px 1195px #FFFFF0, 975px 1640px #FFFFF0, 518px 101px #FFFFF0, 663px 1395px #FFFFF0,
    914px 532px #FFFFF0, 145px 1320px #FFFFF0, 69px 1397px #FFFFF0, 982px 523px #FFFFF0,
    257px 725px #FFFFF0, 1599px 831px #FFFFF0, 1636px 1513px #FFFFF0, 1250px 1158px #FFFFF0,
    1132px 604px #FFFFF0, 183px 102px #FFFFF0, 1057px 318px #FFFFF0, 1247px 1835px #FFFFF0,
    1983px 1110px #FFFFF0, 1077px 1455px #FFFFF0, 921px 1770px #FFFFF0, 806px 1350px #FFFFF0,
    1938px 1992px #FFFFF0, 855px 1260px #FFFFF0, 902px 1345px #FFFFF0, 658px 1908px #FFFFF0,
    1845px 679px #FFFFF0, 712px 1482px #FFFFF0, 595px 950px #FFFFF0, 1784px 1992px #FFFFF0,
    1847px 1785px #FFFFF0, 691px 1004px #FFFFF0, 175px 1179px #FFFFF0, 1666px 1911px #FFFFF0,
    41px 61px #FFFFF0, 971px 1080px #FFFFF0, 1830px 1450px #FFFFF0, 1351px 1518px #FFFFF0,
    1257px 99px #FFFFF0, 1395px 1498px #FFFFF0, 1117px 252px #FFFFF0, 1779px 597px #FFFFF0,
    1346px 729px #FFFFF0, 1108px 1144px #FFFFF0, 402px 691px #FFFFF0, 72px 496px #FFFFF0,
    1673px 1604px #FFFFF0, 1497px 974px #FFFFF0, 1865px 1664px #FFFFF0, 88px 806px #FFFFF0,
    918px 77px #FFFFF0, 244px 1118px #FFFFF0, 256px 1820px #FFFFF0, 1851px 1840px #FFFFF0,
    605px 1851px #FFFFF0, 634px 383px #FFFFF0, 865px 37px #FFFFF0, 943px 1024px #FFFFF0,
    1951px 177px #FFFFF0, 1097px 523px #FFFFF0, 985px 1700px #FFFFF0, 1243px 122px #FFFFF0,
    768px 1070px #FFFFF0, 468px 194px #FFFFF0, 320px 1867px #FFFFF0, 1850px 185px #FFFFF0,
    380px 1616px #FFFFF0, 468px 1294px #FFFFF0, 1122px 1743px #FFFFF0, 884px 299px #FFFFF0,
    1300px 1917px #FFFFF0, 1860px 396px #FFFFF0, 1270px 990px #FFFFF0, 529px 733px #FFFFF0,
    1975px 1347px #FFFFF0, 1885px 685px #FFFFF0, 226px 506px #FFFFF0, 651px 878px #FFFFF0,
    1323px 680px #FFFFF0, 1284px 680px #FFFFF0, 238px 1967px #FFFFF0, 911px 174px #FFFFF0,
    1111px 521px #FFFFF0, 1150px 85px #FFFFF0, 794px 502px #FFFFF0, 484px 1856px #FFFFF0,
    1809px 368px #FFFFF0, 112px 953px #FFFFF0, 590px 1009px #FFFFF0, 1655px 311px #FFFFF0,
    100px 1026px #FFFFF0, 1803px 352px #FFFFF0, 865px 306px #FFFFF0, 1077px 1019px #FFFFF0,
    1335px 872px #FFFFF0, 1647px 1298px #FFFFF0, 1233px 1387px #FFFFF0, 698px 1036px #FFFFF0,
    659px 1860px #FFFFF0, 388px 1412px #FFFFF0, 1212px 458px #FFFFF0, 755px 1468px #FFFFF0,
    696px 1654px #FFFFF0, 1144px 60px #fff;
}

.stars-custom:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #FFFFF0, 324px 42px #FFFFF0, 303px 586px #FFFFF0,
    1312px 276px #FFFFF0, 451px 625px #FFFFF0, 521px 1931px #FFFFF0, 1087px 1871px #FFFFF0,
    36px 1546px #FFFFF0, 132px 934px #FFFFF0, 1698px 901px #FFFFF0, 1418px 664px #FFFFF0,
    1448px 1157px #FFFFF0, 1084px 232px #FFFFF0, 347px 1776px #FFFFF0, 1722px 243px #FFFFF0,
    1629px 835px #FFFFF0, 479px 969px #FFFFF0, 1231px 960px #FFFFF0, 586px 384px #FFFFF0,
    164px 527px #FFFFF0, 8px 646px #FFFFF0, 1150px 1126px #FFFFF0, 665px 1357px #FFFFF0,
    1556px 1982px #FFFFF0, 1260px 1961px #FFFFF0, 1675px 1741px #FFFFF0,
    1843px 1514px #FFFFF0, 718px 1628px #FFFFF0, 242px 1343px #FFFFF0, 1497px 1880px #FFFFF0,
    1364px 230px #FFFFF0, 1739px 1302px #FFFFF0, 636px 959px #FFFFF0, 304px 686px #FFFFF0,
    614px 751px #FFFFF0, 1935px 816px #FFFFF0, 1428px 60px #FFFFF0, 355px 335px #FFFFF0,
    1594px 158px #FFFFF0, 90px 60px #FFFFF0, 1553px 162px #FFFFF0, 1239px 1825px #FFFFF0,
    1945px 587px #FFFFF0, 749px 1785px #FFFFF0, 1987px 1172px #FFFFF0, 1301px 1237px #FFFFF0,
    1039px 342px #FFFFF0, 1585px 1481px #FFFFF0, 995px 1048px #FFFFF0, 524px 932px #FFFFF0,
    214px 413px #FFFFF0, 1701px 1300px #FFFFF0, 1037px 1613px #FFFFF0, 1871px 996px #FFFFF0,
    1360px 1635px #FFFFF0, 1110px 1313px #FFFFF0, 412px 1783px #FFFFF0, 1949px 177px #FFFFF0,
    903px 1854px #FFFFF0, 700px 1936px #FFFFF0, 378px 125px #FFFFF0, 308px 834px #FFFFF0,
    1118px 962px #FFFFF0, 1350px 1929px #FFFFF0, 781px 1811px #FFFFF0, 561px 137px #FFFFF0,
    757px 1148px #FFFFF0, 1670px 1979px #FFFFF0, 343px 739px #FFFFF0, 945px 795px #FFFFF0,
    576px 1903px #FFFFF0, 1078px 1436px #FFFFF0, 1583px 450px #FFFFF0, 1366px 474px #FFFFF0,
    297px 1873px #FFFFF0, 192px 162px #FFFFF0, 1624px 1633px #FFFFF0, 59px 453px #FFFFF0,
    82px 1872px #FFFFF0, 1933px 498px #FFFFF0, 1966px 1974px #FFFFF0, 1975px 1688px #FFFFF0,
    779px 314px #FFFFF0, 1858px 1543px #FFFFF0, 73px 1507px #FFFFF0, 1693px 975px #FFFFF0,
    1683px 108px #FFFFF0, 1768px 1654px #FFFFF0, 654px 14px #FFFFF0, 494px 171px #FFFFF0,
    1689px 1895px #FFFFF0, 1660px 263px #FFFFF0, 1031px 903px #FFFFF0, 1203px 1393px #FFFFF0,
    1333px 1421px #FFFFF0, 1113px 41px #FFFFF0, 1206px 1645px #FFFFF0, 1325px 1635px #FFFFF0,
    142px 388px #FFFFF0, 572px 215px #FFFFF0, 1535px 296px #FFFFF0, 1419px 407px #FFFFF0,
    1379px 1003px #FFFFF0, 329px 469px #FFFFF0, 1791px 1652px #FFFFF0, 935px 1802px #FFFFF0,
    1330px 1820px #FFFFF0, 421px 1933px #FFFFF0, 828px 365px #FFFFF0, 275px 316px #FFFFF0,
    707px 960px #FFFFF0, 1605px 1554px #FFFFF0, 625px 58px #FFFFF0, 717px 1697px #FFFFF0,
    1669px 246px #FFFFF0, 1925px 322px #FFFFF0, 1154px 1803px #FFFFF0, 1929px 295px #FFFFF0,
    1248px 240px #FFFFF0, 1045px 1755px #FFFFF0, 166px 942px #FFFFF0, 1888px 1773px #FFFFF0,
    678px 1963px #FFFFF0, 1370px 569px #FFFFF0, 1974px 1400px #FFFFF0, 1786px 460px #FFFFF0,
    51px 307px #FFFFF0, 784px 1400px #FFFFF0, 730px 1258px #FFFFF0, 1712px 393px #FFFFF0,
    416px 170px #FFFFF0, 1797px 1932px #FFFFF0, 572px 219px #FFFFF0, 1557px 1856px #FFFFF0,
    218px 8px #FFFFF0, 348px 1334px #FFFFF0, 469px 413px #FFFFF0, 385px 1738px #FFFFF0,
    1357px 1818px #FFFFF0, 240px 942px #FFFFF0, 248px 1847px #FFFFF0, 1535px 806px #FFFFF0,
    236px 1514px #FFFFF0, 1429px 1556px #FFFFF0, 73px 1633px #FFFFF0, 1398px 1121px #FFFFF0,
    671px 1301px #FFFFF0, 1404px 1663px #FFFFF0, 740px 1018px #FFFFF0, 1600px 377px #FFFFF0,
    785px 514px #FFFFF0, 112px 1084px #FFFFF0, 1915px 1887px #FFFFF0, 1463px 1848px #FFFFF0,
    687px 1115px #FFFFF0, 1268px 1768px #FFFFF0, 1729px 1425px #FFFFF0,
    1284px 1022px #FFFFF0, 801px 974px #FFFFF0, 1975px 1317px #FFFFF0, 1354px 834px #FFFFF0,
    1446px 1484px #FFFFF0, 1283px 1786px #FFFFF0, 11px 523px #FFFFF0, 1842px 236px #FFFFF0,
    1355px 654px #FFFFF0, 429px 7px #FFFFF0, 1033px 1128px #FFFFF0, 157px 297px #FFFFF0,
    545px 635px #FFFFF0, 52px 1080px #FFFFF0, 827px 1520px #FFFFF0, 1121px 490px #FFFFF0,
    9px 309px #FFFFF0, 1744px 1586px #FFFFF0, 1014px 417px #FFFFF0, 1534px 524px #FFFFF0,
    958px 552px #FFFFF0, 1403px 1496px #FFFFF0, 387px 703px #FFFFF0, 1522px 548px #FFFFF0,
    1355px 282px #FFFFF0, 1532px 601px #FFFFF0, 1838px 790px #FFFFF0, 290px 259px #FFFFF0,
    295px 598px #FFFFF0, 1601px 539px #FFFFF0, 1561px 1272px #FFFFF0, 34px 1922px #FFFFF0,
    1024px 543px #FFFFF0, 467px 369px #FFFFF0, 722px 333px #FFFFF0, 1976px 1255px #FFFFF0,
    766px 983px #FFFFF0, 1582px 1285px #FFFFF0, 12px 512px #FFFFF0, 617px 1410px #FFFFF0,
    682px 577px #FFFFF0, 1334px 1438px #FFFFF0, 439px 327px #FFFFF0, 1617px 1661px #FFFFF0,
    673px 129px #FFFFF0, 794px 941px #FFFFF0, 1386px 1902px #FFFFF0, 37px 1353px #FFFFF0,
    1467px 1353px #FFFFF0, 416px 18px #FFFFF0, 187px 344px #FFFFF0, 200px 1898px #FFFFF0,
    1491px 1619px #FFFFF0, 811px 347px #FFFFF0, 924px 1827px #FFFFF0, 945px 217px #FFFFF0,
    1735px 1228px #FFFFF0, 379px 1890px #FFFFF0, 79px 761px #FFFFF0, 825px 1837px #FFFFF0,
    1980px 1558px #FFFFF0, 1308px 1573px #FFFFF0, 1488px 1726px #FFFFF0,
    382px 1208px #FFFFF0, 522px 595px #FFFFF0, 1277px 1898px #FFFFF0, 354px 552px #FFFFF0,
    161px 1784px #FFFFF0, 614px 251px #FFFFF0, 526px 1576px #FFFFF0, 17px 212px #FFFFF0,
    179px 996px #FFFFF0, 467px 1208px #FFFFF0, 1944px 1838px #FFFFF0, 1140px 1093px #FFFFF0,
    858px 1007px #FFFFF0, 200px 1064px #FFFFF0, 423px 1964px #FFFFF0, 1945px 439px #FFFFF0,
    1377px 689px #FFFFF0, 1120px 1437px #FFFFF0, 1876px 668px #FFFFF0, 907px 1324px #FFFFF0,
    343px 1976px #FFFFF0, 1816px 1501px #FFFFF0, 1849px 177px #FFFFF0, 647px 91px #FFFFF0,
    1984px 1012px #FFFFF0, 1336px 1300px #FFFFF0, 128px 648px #FFFFF0, 305px 1060px #FFFFF0,
    1324px 826px #FFFFF0, 1263px 1314px #FFFFF0, 1801px 629px #FFFFF0, 1614px 1555px #FFFFF0,
    1634px 90px #FFFFF0, 1603px 452px #FFFFF0, 891px 1984px #FFFFF0, 1556px 1906px #FFFFF0,
    121px 68px #FFFFF0, 1676px 1714px #FFFFF0, 516px 936px #FFFFF0, 1947px 1492px #FFFFF0,
    1455px 1519px #FFFFF0, 45px 602px #FFFFF0, 205px 1039px #FFFFF0, 793px 172px #FFFFF0,
    1562px 1739px #FFFFF0, 1056px 110px #FFFFF0, 1512px 379px #FFFFF0, 1795px 1621px #FFFFF0,
    1848px 607px #FFFFF0, 262px 1719px #FFFFF0, 477px 991px #FFFFF0, 483px 883px #FFFFF0,
    1239px 1197px #FFFFF0, 1496px 647px #FFFFF0, 1649px 25px #FFFFF0, 1491px 1946px #FFFFF0,
    119px 996px #FFFFF0, 179px 1472px #FFFFF0, 1341px 808px #FFFFF0, 1565px 1700px #FFFFF0,
    407px 1544px #FFFFF0, 1754px 357px #FFFFF0, 1288px 981px #FFFFF0, 902px 1997px #FFFFF0,
    1755px 1668px #FFFFF0, 186px 877px #FFFFF0, 1202px 1882px #FFFFF0, 461px 1213px #FFFFF0,
    1400px 748px #FFFFF0, 1969px 1899px #FFFFF0, 809px 522px #FFFFF0, 514px 1219px #FFFFF0,
    374px 275px #FFFFF0, 938px 1973px #FFFFF0, 357px 552px #FFFFF0, 144px 1722px #FFFFF0,
    1572px 912px #FFFFF0, 402px 1858px #FFFFF0, 1544px 1195px #FFFFF0, 667px 1257px #FFFFF0,
    727px 1496px #FFFFF0, 993px 232px #FFFFF0, 1772px 313px #FFFFF0, 1040px 1590px #FFFFF0,
    1204px 1973px #FFFFF0, 1268px 79px #FFFFF0, 1555px 1048px #FFFFF0, 986px 1707px #FFFFF0,
    978px 1710px #FFFFF0, 713px 360px #FFFFF0, 407px 863px #FFFFF0, 461px 736px #FFFFF0,
    284px 1608px #FFFFF0, 103px 430px #FFFFF0, 1283px 1319px #FFFFF0, 977px 1186px #FFFFF0,
    1966px 1516px #FFFFF0, 1287px 1129px #FFFFF0, 70px 1098px #FFFFF0, 1189px 889px #FFFFF0,
    1126px 1734px #FFFFF0, 309px 1292px #FFFFF0, 879px 764px #FFFFF0, 65px 473px #FFFFF0,
    1003px 1959px #FFFFF0, 658px 791px #FFFFF0, 402px 1576px #FFFFF0, 35px 622px #FFFFF0,
    529px 1589px #FFFFF0, 164px 666px #FFFFF0, 1876px 1290px #FFFFF0, 1541px 526px #FFFFF0,
    270px 1297px #FFFFF0, 440px 865px #FFFFF0, 1500px 802px #FFFFF0, 182px 1754px #FFFFF0,
    1264px 892px #FFFFF0, 272px 1249px #FFFFF0, 1289px 1535px #FFFFF0, 190px 1646px #FFFFF0,
    955px 242px #FFFFF0, 1456px 1597px #FFFFF0, 1727px 1983px #FFFFF0, 635px 801px #FFFFF0,
    226px 455px #FFFFF0, 1396px 1710px #FFFFF0, 849px 1863px #FFFFF0, 237px 1264px #FFFFF0,
    839px 140px #FFFFF0, 1122px 735px #FFFFF0, 1280px 15px #FFFFF0, 1318px 242px #FFFFF0,
    1819px 1148px #FFFFF0, 333px 1392px #FFFFF0, 1949px 553px #FFFFF0, 1878px 1332px #FFFFF0,
    467px 548px #FFFFF0, 1812px 1082px #FFFFF0, 1067px 193px #FFFFF0, 243px 156px #FFFFF0,
    483px 1616px #FFFFF0, 1714px 933px #FFFFF0, 759px 1800px #FFFFF0, 1822px 995px #FFFFF0,
    1877px 572px #FFFFF0, 581px 1084px #FFFFF0, 107px 732px #FFFFF0, 642px 1837px #FFFFF0,
    166px 1493px #FFFFF0, 1555px 198px #FFFFF0, 819px 307px #FFFFF0, 947px 345px #FFFFF0,
    827px 224px #FFFFF0, 927px 1394px #FFFFF0, 540px 467px #FFFFF0, 1093px 405px #FFFFF0,
    1140px 927px #FFFFF0, 130px 529px #FFFFF0, 33px 1980px #FFFFF0, 1147px 1663px #FFFFF0,
    1616px 1436px #FFFFF0, 528px 710px #FFFFF0, 798px 1100px #FFFFF0, 505px 1480px #FFFFF0,
    899px 641px #FFFFF0, 1909px 1949px #FFFFF0, 1311px 964px #FFFFF0, 979px 1301px #FFFFF0,
    1393px 969px #FFFFF0, 1793px 1886px #FFFFF0, 292px 357px #FFFFF0, 1196px 1718px #FFFFF0,
    1290px 1994px #FFFFF0, 537px 1973px #FFFFF0, 1181px 1674px #FFFFF0,
    1740px 1566px #FFFFF0, 1307px 265px #FFFFF0, 922px 522px #FFFFF0, 1892px 472px #FFFFF0,
    384px 1746px #FFFFF0, 392px 1098px #FFFFF0, 647px 548px #FFFFF0, 390px 1498px #FFFFF0,
    1246px 138px #FFFFF0, 730px 876px #FFFFF0, 192px 1472px #FFFFF0, 1790px 1789px #FFFFF0,
    928px 311px #FFFFF0, 1253px 1647px #FFFFF0, 747px 1921px #FFFFF0, 1561px 1025px #FFFFF0,
    1533px 1292px #FFFFF0, 1985px 195px #FFFFF0, 728px 729px #FFFFF0, 1712px 1936px #FFFFF0,
    512px 1717px #FFFFF0, 1528px 483px #FFFFF0, 313px 1642px #FFFFF0, 281px 1849px #FFFFF0,
    1212px 799px #FFFFF0, 435px 1191px #FFFFF0, 1422px 611px #FFFFF0, 1718px 1964px #FFFFF0,
    411px 944px #FFFFF0, 210px 636px #FFFFF0, 1502px 1295px #FFFFF0, 1434px 349px #FFFFF0,
    769px 60px #FFFFF0, 747px 1053px #FFFFF0, 789px 504px #FFFFF0, 1436px 1264px #FFFFF0,
    1893px 1225px #FFFFF0, 1394px 1788px #FFFFF0, 1108px 1317px #FFFFF0,
    1673px 1395px #FFFFF0, 854px 1010px #FFFFF0, 1705px 80px #FFFFF0, 1858px 148px #FFFFF0,
    1729px 344px #FFFFF0, 1388px 664px #FFFFF0, 895px 406px #FFFFF0, 1479px 157px #FFFFF0,
    1441px 1157px #FFFFF0, 552px 1900px #FFFFF0, 516px 364px #FFFFF0, 1647px 189px #FFFFF0,
    1427px 1071px #FFFFF0, 785px 729px #FFFFF0, 1080px 1710px #FFFFF0, 504px 204px #FFFFF0,
    1177px 1622px #FFFFF0, 657px 34px #FFFFF0, 1296px 1099px #FFFFF0, 248px 180px #FFFFF0,
    1212px 1568px #FFFFF0, 667px 1562px #FFFFF0, 695px 841px #FFFFF0, 1608px 1247px #FFFFF0,
    751px 882px #FFFFF0, 87px 167px #FFFFF0, 607px 1368px #FFFFF0, 1363px 1203px #FFFFF0,
    1836px 317px #FFFFF0, 1668px 1703px #FFFFF0, 830px 1154px #FFFFF0, 1721px 1398px #FFFFF0,
    1601px 1280px #FFFFF0, 976px 874px #FFFFF0, 1743px 254px #FFFFF0, 1020px 1815px #FFFFF0,
    1670px 1766px #FFFFF0, 1890px 735px #FFFFF0, 1379px 136px #FFFFF0, 1864px 695px #FFFFF0,
    206px 965px #FFFFF0, 1404px 1932px #FFFFF0, 1923px 1360px #FFFFF0, 247px 682px #FFFFF0,
    519px 1708px #FFFFF0, 645px 750px #FFFFF0, 1164px 1204px #FFFFF0, 834px 323px #FFFFF0,
    172px 1350px #FFFFF0, 213px 972px #FFFFF0, 1837px 190px #FFFFF0, 285px 1806px #FFFFF0,
    1047px 1299px #FFFFF0, 1548px 825px #FFFFF0, 1730px 324px #FFFFF0, 1346px 1909px #FFFFF0,
    772px 270px #FFFFF0, 345px 1190px #FFFFF0, 478px 1433px #FFFFF0, 1479px 25px #FFFFF0,
    1994px 1830px #FFFFF0, 1744px 732px #FFFFF0, 20px 1635px #FFFFF0, 690px 1795px #FFFFF0,
    1594px 569px #FFFFF0, 579px 245px #FFFFF0, 1398px 733px #FFFFF0, 408px 1352px #FFFFF0,
    1774px 120px #FFFFF0, 1152px 1370px #FFFFF0, 1698px 1810px #FFFFF0, 710px 1450px #FFFFF0,
    665px 286px #FFFFF0, 493px 1720px #FFFFF0, 786px 5px #FFFFF0, 637px 1140px #FFFFF0,
    764px 324px #FFFFF0, 927px 310px #FFFFF0, 938px 1424px #FFFFF0, 1884px 744px #FFFFF0,
    913px 462px #FFFFF0, 1831px 1936px #FFFFF0, 1527px 249px #FFFFF0, 36px 1381px #FFFFF0,
    1597px 581px #FFFFF0, 1530px 355px #FFFFF0, 949px 459px #FFFFF0, 799px 828px #FFFFF0,
    242px 1471px #FFFFF0, 654px 797px #FFFFF0, 796px 594px #FFFFF0, 1365px 678px #FFFFF0,
    752px 23px #FFFFF0, 1630px 541px #FFFFF0, 982px 72px #FFFFF0, 1733px 1831px #FFFFF0,
    21px 412px #FFFFF0, 775px 998px #FFFFF0, 335px 1945px #FFFFF0, 264px 583px #FFFFF0,
    158px 1311px #FFFFF0, 528px 164px #FFFFF0, 1978px 574px #FFFFF0, 717px 1203px #FFFFF0,
    734px 1591px #FFFFF0, 1555px 820px #FFFFF0, 16px 1943px #FFFFF0, 1625px 1177px #FFFFF0,
    1236px 690px #FFFFF0, 1585px 1590px #FFFFF0, 1737px 1728px #FFFFF0, 721px 698px #FFFFF0,
    1804px 1186px #FFFFF0, 166px 980px #FFFFF0, 1850px 230px #FFFFF0, 330px 1712px #FFFFF0,
    95px 797px #FFFFF0, 1948px 1078px #FFFFF0, 469px 939px #FFFFF0, 1269px 1899px #FFFFF0,
    955px 1220px #FFFFF0, 1137px 1075px #FFFFF0, 312px 1293px #FFFFF0, 986px 1762px #FFFFF0,
    1103px 1238px #FFFFF0, 428px 1993px #FFFFF0, 355px 570px #FFFFF0, 977px 1836px #FFFFF0,
    1395px 1092px #FFFFF0, 276px 913px #FFFFF0, 1743px 656px #FFFFF0, 773px 502px #FFFFF0,
    1686px 1322px #FFFFF0, 1516px 1945px #FFFFF0, 1334px 501px #FFFFF0, 266px 156px #FFFFF0,
    455px 655px #FFFFF0, 798px 72px #FFFFF0, 1059px 1259px #FFFFF0, 1402px 1687px #FFFFF0,
    236px 1329px #FFFFF0, 1455px 786px #FFFFF0, 146px 1228px #FFFFF0, 1851px 823px #FFFFF0,
    1062px 100px #FFFFF0, 1220px 953px #FFFFF0, 20px 1826px #FFFFF0, 36px 1063px #FFFFF0,
    1525px 338px #FFFFF0, 790px 1521px #FFFFF0, 741px 1099px #FFFFF0, 288px 1489px #FFFFF0,
    700px 1060px #FFFFF0, 390px 1071px #FFFFF0, 411px 1036px #FFFFF0, 1853px 1072px #FFFFF0,
    1446px 1085px #FFFFF0, 1164px 874px #FFFFF0, 924px 925px #FFFFF0, 291px 271px #FFFFF0,
    1257px 1964px #FFFFF0, 1580px 1352px #FFFFF0, 1507px 1216px #FFFFF0, 211px 956px #FFFFF0,
    985px 1195px #FFFFF0, 975px 1640px #FFFFF0, 518px 101px #FFFFF0, 663px 1395px #FFFFF0,
    914px 532px #FFFFF0, 145px 1320px #FFFFF0, 69px 1397px #FFFFF0, 982px 523px #FFFFF0,
    257px 725px #FFFFF0, 1599px 831px #FFFFF0, 1636px 1513px #FFFFF0, 1250px 1158px #FFFFF0,
    1132px 604px #FFFFF0, 183px 102px #FFFFF0, 1057px 318px #FFFFF0, 1247px 1835px #FFFFF0,
    1983px 1110px #FFFFF0, 1077px 1455px #FFFFF0, 921px 1770px #FFFFF0, 806px 1350px #FFFFF0,
    1938px 1992px #FFFFF0, 855px 1260px #FFFFF0, 902px 1345px #FFFFF0, 658px 1908px #FFFFF0,
    1845px 679px #FFFFF0, 712px 1482px #FFFFF0, 595px 950px #FFFFF0, 1784px 1992px #FFFFF0,
    1847px 1785px #FFFFF0, 691px 1004px #FFFFF0, 175px 1179px #FFFFF0, 1666px 1911px #FFFFF0,
    41px 61px #FFFFF0, 971px 1080px #FFFFF0, 1830px 1450px #FFFFF0, 1351px 1518px #FFFFF0,
    1257px 99px #FFFFF0, 1395px 1498px #FFFFF0, 1117px 252px #FFFFF0, 1779px 597px #FFFFF0,
    1346px 729px #FFFFF0, 1108px 1144px #FFFFF0, 402px 691px #FFFFF0, 72px 496px #FFFFF0,
    1673px 1604px #FFFFF0, 1497px 974px #FFFFF0, 1865px 1664px #FFFFF0, 88px 806px #FFFFF0,
    918px 77px #FFFFF0, 244px 1118px #FFFFF0, 256px 1820px #FFFFF0, 1851px 1840px #FFFFF0,
    605px 1851px #FFFFF0, 634px 383px #FFFFF0, 865px 37px #FFFFF0, 943px 1024px #FFFFF0,
    1951px 177px #FFFFF0, 1097px 523px #FFFFF0, 985px 1700px #FFFFF0, 1243px 122px #FFFFF0,
    768px 1070px #FFFFF0, 468px 194px #FFFFF0, 320px 1867px #FFFFF0, 1850px 185px #FFFFF0,
    380px 1616px #FFFFF0, 468px 1294px #FFFFF0, 1122px 1743px #FFFFF0, 884px 299px #FFFFF0,
    1300px 1917px #FFFFF0, 1860px 396px #FFFFF0, 1270px 990px #FFFFF0, 529px 733px #FFFFF0,
    1975px 1347px #FFFFF0, 1885px 685px #FFFFF0, 226px 506px #FFFFF0, 651px 878px #FFFFF0,
    1323px 680px #FFFFF0, 1284px 680px #FFFFF0, 238px 1967px #FFFFF0, 911px 174px #FFFFF0,
    1111px 521px #FFFFF0, 1150px 85px #FFFFF0, 794px 502px #FFFFF0, 484px 1856px #FFFFF0,
    1809px 368px #FFFFF0, 112px 953px #FFFFF0, 590px 1009px #FFFFF0, 1655px 311px #FFFFF0,
    100px 1026px #FFFFF0, 1803px 352px #FFFFF0, 865px 306px #FFFFF0, 1077px 1019px #FFFFF0,
    1335px 872px #FFFFF0, 1647px 1298px #FFFFF0, 1233px 1387px #FFFFF0, 698px 1036px #FFFFF0,
    659px 1860px #FFFFF0, 388px 1412px #FFFFF0, 1212px 458px #FFFFF0, 755px 1468px #FFFFF0,
    696px 1654px #FFFFF0, 1144px 60px #fff;
}