@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


html, body, #root {
  min-height: 100vh;
  background-color: #1b2735;
}

html {
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

:root {
  --star-speed-multiplier: 1
}